// app global css in SCSS form
@import 'fluid-typography';

// custom colors
.text-white {
  color: $white;
}

.bg-white {
  background: $white;
}

.text-shadow {
  text-shadow: 1px 1px 6px black;
}

// toast notifications close icon
.q-notification__actions {
  color: $white;

  button div div::before {
    content: "\2716";
  }
}

// page transitions

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}